[Unit]
Description=SilverBullet
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/silverbullet
ExecStart=%h/silverbullet/silverbullet -L 0.0.0.0 -p 3000 %h/silverbullet/space
Environment=SB_USER=username:password
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
